#progressDiv {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  border: solid #444444 1px;
  border-radius: 0.5rem;
  padding: .75rem;
}

.statsContainer {
  width: min(80%, 40rem);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;

  font-size: 1.5rem;
  border: solid #444444 1px;
  border-radius: 2rem;
}

.labelValueContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.label {
  font-style: italic;
}
.value {
  font-weight: bold;
}
.elementGap {
}

.chapterContainer {
  width: min(95%, 40rem);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.chapterNumber {
  font-size: 1.25rem;
  font-weight: bold;
}
.chapterTitle {
  text-align: center;
  font-style: italic;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  width: min(95%, 40rem);
  gap: 1rem;
}
.question {
  padding: 1rem 0;
  font-size: 1.25rem;
  border-bottom: solid #444444 1px;
}
.answer {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border: solid #444444 1px;
  border-radius: 1rem;
  width: 100%;
}
.correct {
  background-color: lightgreen;
}
.wrong {
  background-color: lightcoral;
}

#nextButton {
  scroll-margin-bottom: 16px;
}
