/* Box sizing */
html {
  box-sizing: border-box;
}

* {
  color: #444444;
  background-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

div {
  white-space: pre-line;
}

button {
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 1rem;
  border: solid black 1px;
}


button:hover {
  transform: scale(1.05);
  background-color: lightblue;
}

/* Reset margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend,
textarea,
pre,
iframe,
table,
caption,
hr {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

@font-face {
  font-family: "Ubuntu";
  src: url(./fonts/ubuntu/ubuntu-v20-latin-300.woff2), format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url(./fonts/ubuntu/ubuntu-v20-latin-700.woff2), format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* Reset font styles */
html {
  font-family: Ubuntu; /* Default to sans-serif font stack */
  font-size: 16px; /* Adjust as needed */
}

/* Links */
a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
}

/* Remove outline on focused elements */
*:focus {
  outline: none;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 2rem 0;

  width: 100dvw;
  min-height: 100dvh;
  background-color: #fdfdfd;
}
